/* I wanted to see what can be done using css and so I used as many effects as I could find, this was the result */

#button1 {
	background-color: #0CFF00;
	border: 4px solid #6100FF;
	color: white;
	text-align: center;
	font-size: 15px;
	text-decoration: underline overline;
	display: inline-block;
	padding: 10px 12px;
	border-radius: 10%;
	transition-duration: 1s;
	opacity: 0.5;
	box-shadow: 0px 0px 0px 0px rgb(0,0,0);
	background-image: none;
}

#button1:hover {
	background-color: #6100FF;
	border: 80px solid #0CFF00;
	padding: 200px 240px;
	font-size: 300px;
	opacity: 1;
	cursor: grab;
	box-shadow: 0px 25px 50px 50px rgb(0,100,255);
	background-image: none;
}

#button1:active {
	cursor: grabbing;
	background-image: url(https://i.kinja-img.com/gawker-media/image/upload/s--WFkXeene--/c_scale,f_auto,fl_progressive,q_80,w_800/ol9ceoqxidudap8owlwn.jpg);
	box-shadow: 0px 0px;
	background-position: center;
	background-size: cover;
}

* {
	cursor: wait;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
